.grow-enter-from{
    transform: scale(0);
}
.grow-enter-active{
    transition: 1s all ease;
}
.grow-enter-to{
    transform: scale(1);
}
.grow-leave-from{
    transform: scale(1);
}
.grow-leave-active{
    transition: 1s all ease;
}
.grow-leave-to{
    transform: scale(0);
}