.g-skill{
    width: 7em;
    height: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1em 3em;
}

.g-skill_picture{
    width: 60%;
    height: 60%;
}

.g-skill_label{
    font-size: 1.4em;
    font-weight: 700;
}



@media (max-width: 767px) {
    .g-skill{
        margin: .5em 1em;
    }
}