@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --o-box-sizing: border-box;
    box-sizing: border-box;
}



:root{
    --dark-green: #3D8D7A;
    --light-green: #A3D1C6;
    --light-yellow: #FBFFE4;
    --light-yellow: #FBFFE4;
    --green-yellow: #B3D8A8;
    --light-gray: #EEEEEE;
    --white: #ffffff;
    --black: #000000;
    --header-heith:  4.4em;
}

a{
    text-decoration: none;
    color: var(--black);
}

body{
    overflow-x: hidden;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
}

.g-page{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}



.g-controller{
    margin: 0 auto;
    height: 100%;
}

.g-header{
    width: 100dvw;
    height: var(--header-heith);
}


.g-controller_down-btn{
    /* background-color: red; */
    height: 3em;
    position: fixed;
    bottom: .5em;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    /* z-index: -100; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding: .4em;
}

.g-down-btn{
    position: relative;
    background-color: var(--dark-green);
    border-radius: 50%;
    transform: rotate(-90deg);
    width: 1.6em;
    height: 1.6em;
    display: grid;
    place-content: center;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    z-index: 1000;
}


@media (min-width: 1000px) {
    .g-controller{
        width: 1000px;
    }
}
@media (max-width: 1000px) {
    .g-controller{
        width: 767px;
    }
}
@media (max-width: 767px) {
    body{
        font-size: 13px;
    }
    .g-controller{
        width: 550px;
    }
}
@media (max-width: 550px) {
    body{
        font-size: 12px;
    }
    .g-controller{
        width: 94%;
    }
}