.g-project-card{
    width: 16em;
    height: 23em;
    border-radius: 7px;
    background: var(--light-gray);
    display: grid;
    grid-template-rows: 10em 2em 8em calc(100% - 20em);
    margin: .5em;
}
.g-project-card > *{
    padding: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 0 auto;
}
.g-project-card_img{
    margin: 0 auto;
    border-radius: .7em;
    object-fit: fill;
}
.g-project-card_label{
    color: var(--dark-green);
    font-size: 1.2em;
    font-weight: bold;
}
.g-project-card_desc{
    font-size: .8em;
    font-weight: 400;
    opacity: .8;
}

.g-project-card_btn.git-btn{
    background-color: var(--black);
}
.g-project-card_btn.proj-btn{
    width: 90%;
}
.g-project-card_btn-link{
    background-color: var(--light-green);

}

